<app-header></app-header>

<h2 class="title">CATEGORIAS</h2>

<div class="menuCategoria">
  <app-card
    *ngFor="let item of (showAll ? categoryItems : categoryItems.slice(0, 3))"
    [title]="item.nome"
    [description]="item.descricao"
    [imageUrl]="item.pathImage"
    (click)="viewCategoryProducts(item.id, item.nome)">
  </app-card>
</div>

<ng-template #notFound>
  <p>Categoria não encontrada.</p>
</ng-template>

<div class="button-container">
  <app-button [label]="showAll ? 'MOSTRAR MENOS' : 'VER CARDÁPIO COMPLETO'" type="filled" size="large" (click)="toggleMenu()"></app-button>
</div>
