<app-header></app-header>
<h2 class="title">PEDIDO</h2>
<div class="order-form-container">
  <form>
    <div class="form-row">
      <!-- Produto -->
      <app-input
        label="Produto"
        type="select"
        id="produto1"
        [required]="true"
        [(ngModel)]="produto1"
        name="produto1"
        (ngModelChange)="onProductChange($event)">
        <option [value]="null" disabled selected>Selecione um produto</option>
        <option *ngFor="let product of produtos" [value]="product.id" [selected]="product.id === produto1">
          {{ product.nome }}
        </option>
      </app-input>

      <!-- Quantidade -->
      <app-input
        label="Quantidade"
        type="number"
        id="quantidade1"
        [required]="true"
        [(ngModel)]="quantidade1"
        name="quantidade1"
        (ngModelChange)="updateTotal()">
      </app-input>
    </div>
    <!-- Observação -->
    <div class="form-group full-width">
      <app-input label="Observação" id="observacao" [required]="true"  name="observacao"></app-input>
    </div>
    <!-- Preço Total -->
    <div class="total-price">
      Preço Total: R$ {{ totalPrice.toFixed(2) }}
    </div>
  </form>

  <div class="button-container">
    <app-button
      label="FINALIZAR"
      type="filled"
      (click)="finalizarPedido()">
    </app-button>
  </div>

  <!-- Exibir a mensagem de conclusão -->
  <div *ngIf="mensagemConclusao" class="conclusao-message">
    {{ mensagemConclusao }}
  </div>


</div>
